<!-- <div class="article">
  <img src="../../../assets/pic1.png" alt="forklift">
  <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit at quae aliquam omnis.</h5>
</div>

<img src="../../../assets/pic2.png" alt="drooling imbecile">
<h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit atquae aliquam omnis.</h5> -->

<div class="article">
  <div *ngFor="let article of articles | async">
    <div *ngIf="article.type === 'features'">
      <img src="{{article.image}}" alt="{{article.caption}}">
      <h5>{{article.headline}}</h5>
    </div>
  </div>
</div>