#header {
  width: 100%;
  height: 180px;
  display: inline-block;
  border-bottom: solid lightgrey 1px;
  color: #378662;
}

img {
  width: 40%;
  padding-left: 3%;
  padding-top: 20px;
  vertical-align: middle;
  text-align: right;
  margin-right: 25%;
}

.secondary-nav {
  padding-left: 3%;
  padding-top: 1%;
}

/* Style the links inside the navigation bar */
.secondary-nav a {
  color: #000000;
  text-align: center;
  padding: 5px 5px;
  font-weight: 500;
  font-size: 14px;
  margin-right: 5px;
}

/* Change the color of links on hover */
.secondary-nav a:hover {
  color: #378662;
}

/* Add a color to the active/current link */
.secondary-nav a.active {
  background-color: #378662;
  color: white;
}

.btn-floating {
  background-color: #378662;
}

.btn-flat {
  font-size: 50px;
  color: #378662;
}

#spacer {
  margin-right: 10px;
  border-right: solid lightgrey 1px;
}

#spacer:hover {
  background-color: white;
}
