<div id='header'>
  <div class="row">
    <div>
      <a routerLink="">
        <img class='img' src="../../assets/logo.png" alt="America's Finest News Source">
      </a>
      <a class="btn-flat btn-large" href="#"><i class="material-icons">search</i></a>
      <a class="btn-floating btn" href="#"><i class="material-icons">mail</i></a>
      Subscribe

      <span>
        <a id="spacer" class="btn-flat btn-large"></a>
      </span>

      <a class="btn-floating btn" href="#"><i class="material-icons">person</i></a>
    </div>

  </div>

  <div class="secondary-nav">
    <a class="active" routerLink="">LATEST</a>
    <a href="#news" routerLink="articles">POLITICS</a>
    <a href="#contact" routerLink="articles">SPORTS</a>
    <a href="#about" routerLink="articles">LOCAL</a>
    <a href="#news" routerLink="articles">ENTERTAINMENT</a>
    <a href="#contact" routerLink="articles">ONION GAMERS NETWORK</a>
    <a href="#about" routerLink="articles">OPINION</a>
    <a href="#news" routerLink="articles">VIDEO</a>
  </div>

</div>
