<div id='header'>
  <div class="row">
    <div class="icons">
      <img class='img' src="../../assets/logo.png" alt="America's Finest News Source">
      <a class="btn-flat btn-large" href="#"><i class="material-icons">search</i></a>
      <a class="btn-floating btn" href="#"><i class="material-icons">mail</i></a>
      Subscribe

      <span>
        <a id="spacer" class="btn-flat btn-large"></a>
      </span>

      <a class="btn-floating btn" href="#"><i class="material-icons">person</i></a>
    </div>

  </div>

  <div class="secondary-nav">
    <a class="active" href="#latest">LATEST</a>
    <a href="#news">POLITICS</a>
    <a href="#contact">SPORTS</a>
    <a href="#about">LOCAL</a>
    <a href="#news">ENTERTAINMENT</a>
    <a href="#contact">ONION GAMERS NETWORK</a>
    <a href="#about">OPINION</a>
    <a href="#news">VIDEO</a>
  </div>

</div>
