<h5>More From The Onion</h5>
<div class="article">
  <img class="thumb" src="../../assets/pic4.png" alt="people">
  <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
</div>

<div class="article">
  <img class="thumb" src="../../assets/pic5.png" alt="an asshole">
  <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
</div>

<div class="article">
  <img class="thumb" src="../../assets/pic6.png" alt="an asshole">
  <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
</div>

<div class="article">
  <img class="thumb" src="../../assets/pic7.png" alt="an asshole">
  <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
</div>