 <div class="topnav">
   <a class='dropdown-trigger' routerLink="">THE ONION</a>
   <a class='dropdown-trigger' routerLink="articles">CLICKHOLE</a>
   |
   <a class='dropdown-trigger' routerLink="articles">THE A.V. CLUB</a>
   <a class='dropdown-trigger' routerLink="articles">DEADSPIN</a>
   <a class='dropdown-trigger' routerLink="articles">GIZMODO</a>
   <a class='dropdown-trigger' routerLink="articles">JALOPNIK</a>
   <a class='dropdown-trigger' routerLink="articles">JEZEBEL</a>
   <a class='dropdown-trigger' routerLink="articles">KOTAKU</a>
   <a class='dropdown-trigger' routerLink="articles">LIFEHACKER</a>
   <a class='dropdown-trigger' routerLink="articles">SPLINTER</a>
   <a class='dropdown-trigger' routerLink="articles">THE ROOT</a>
   <a class='dropdown-trigger' routerLink="articles">THE TAKEOUT</a>
   |
   <a class='dropdown-trigger' routerLink="articles">THE INVENTORY</a>
 </div>
