 <div class="topnav">
   <a class='dropdown-trigger' data-target='dropdown1' href="#">THE ONION</a>
   <ul id=dropdown1>
    <li></li>
   </ul>

   <a class='dropdown-trigger' data-target='dropdown2' href="#clickhole">CLICKHOLE</a>
   <ul id=dropdown2>

   </ul>
   |
   <a class='dropdown-trigger' data-target='dropdown3' href="#av-club">THE A.V. CLUB</a>
   <ul id=dropdown3>

   </ul>

   <a class='dropdown-trigger' data-target='dropdown4' href="#deadspin">DEADSPIN</a>
   <ul id=dropdown4>

   </ul>

   <a class='dropdown-trigger' data-target='dropdown5' href="#gizmodo">GIZMODO</a>
   <ul id=dropdown5>

   </ul>

   <a class='dropdown-trigger' data-target='dropdown6' href="#jalopnik">JALOPNIK</a>
   <ul id=dropdown6>

   </ul>

   <a class='dropdown-trigger' data-target='dropdown7' href="#jezebel">JEZEBEL</a>
   <ul id=dropdown7>

   </ul>

   <a class='dropdown-trigger' data-target='dropdown8' href="#kotaku">KOTAKU</a>
   <ul id=dropdown8>

   </ul>

   <a class='dropdown-trigger' data-target='dropdown9' href="#lifehacker">LIFEHACKER</a>
   <ul id=dropdown9>

   </ul>

   <a class='dropdown-trigger' data-target='dropdown10' href="#splinter">SPLINTER</a>
   <ul id=dropdown10>

   </ul>

   <a class='dropdown-trigger' data-target='dropdown11' href="#the-root">THE ROOT</a>
   <ul id=dropdown11>

   </ul>

   <a class='dropdown-trigger' data-target='dropdown12' href="#the-takeout">THE TAKEOUT</a>
   <ul id=dropdown12>

   </ul>
   |
   <a class='dropdown-trigger' data-target='dropdown13' href="#the-inventory">THE INVENTORY</a>
   <ul id=dropdown13>

   </ul>
 </div>
