 <div class="topnav">
   <a class='dropdown-trigger' href="#">THE ONION</a>
   <a class='dropdown-trigger' href="#clickhole">CLICKHOLE</a>
   |
   <a class='dropdown-trigger' href="#av-club">THE A.V. CLUB</a>
   <a class='dropdown-trigger' href="#deadspin">DEADSPIN</a>
   <a class='dropdown-trigger' href="#gizmodo">GIZMODO</a>
   <a class='dropdown-trigger' href="#jalopnik">JALOPNIK</a>
   <a class='dropdown-trigger' href="#jezebel">JEZEBEL</a>
   <a class='dropdown-trigger' href="#kotaku">KOTAKU</a>
   <a class='dropdown-trigger' href="#lifehacker">LIFEHACKER</a>
   <a class='dropdown-trigger' href="#splinter">SPLINTER</a>
   <a class='dropdown-trigger' href="#the-root">THE ROOT</a>
   <a class='dropdown-trigger' href="#the-takeout">THE TAKEOUT</a>
   |
   <a class='dropdown-trigger' href="#the-inventory">THE INVENTORY</a>
 </div>
