<div class="row" id="splash">
  <div id="left-bar" class="col-md-3">
    <!-- <app-left-sidebar></app-left-sidebar> -->
    <div class="article">
      <img src="../../assets/pic1.png" alt="forklift">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit at quae aliquam omnis.</p>
    </div>

    <div class="article">
      <img src="../../assets/pic2.png" alt="drooling imbecile">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit at quae aliquam omnis.</p>
    </div>

  </div>

  <div class="main col-md-6">
  </div>

  <div class="right-bar col-md-3">
  </div>

</div>
